.lesson {
    background-color: rgba(136, 223, 162, 0.911); margin-left: 2cm; margin-right: 28cm;
  }
  .div {
    background-color: slategrey;
  }
  
  .bio {
    color:brown; background-color: rgb(136, 223, 162, 0.911); max-width: 10cm;
  }
  .title {
    color: darkblue;
  }
  
  #email {
    background-color: rgb(221, 221, 231);
  }
  
  #github {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
  }
  .box {
   /*Sets the height and width of the section */
   width: 300px;
   height: 200px
 }
 
 .box-blue {
   /* Sets font color */
   color: white;
   /* Sets background color */
   background-color: #0000ff;
 }
 
 .box-orange {
   /* Uses hex codes to define color */
   color: #0000ff;
   background-color: #ffa500;
 }
 
 #box-yellow {
   /* Uses predefined colors to define color */
   color: purple;
   background-color: yellow;
 };
 